@model BuildingModel

<div class="h1 text-primary text-center w-100">Rooms in <span class="text-primary fw-bold">@Model.Name</span></div>

<div class="d-flex flex-row gap-5 p-1 align-items-start">
    <div class="bg-light d-flex flex-column p-4 gap-5" style="min-width: 325px">
        <div class="d-flex flex-column">
            <div class="h3 text-primary fw-bold mb-3">
                Create new room
            </div>

            <div>
                @using (Html.BeginForm("Create", "Rooms", FormMethod.Post))
                {
                    <div class="input-group d-flex flex-column gap-2 w-100">
                        <label for="name" class="form-label text-secondary fw-bolder">Jméno</label>
                        <input class="w-100 border-0 bg-transparent  border-bottom border-primary" name="name" id="name" type="text" placeholder="Nazev" required="required"/>
                        <input name="id" id="id" type="hidden" placeholder="id" value="@Model.Id"/>
                        <input class="btn btn-primary rounded-2 shadow-sm" type="submit"/>
                    </div>
                }
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="h3 text-primary fw-bold mb-3">
                Delete room
            </div>


            <div>
                @using (Html.BeginForm("Delete", "Rooms", FormMethod.Post))
                {
                    <div class="input-group d-flex flex-column gap-2 w-100">
                        <label for="id" class="form-label text-secondary fw-bolder">Room</label>
                        <select name="id" id="id" required="required" class="w-100 border-0 bg-transparent border-bottom border-primary">
                            @foreach (var rm in Model.Rooms)
                            {
                                <option value="@rm.Id">@rm.Name</option>
                            }
                        </select>
                        <input type="hidden" value="@Model.Id"/>
                        <input class="btn btn-primary rounded-2 shadow-sm" type="submit"/>
                    </div>
                }
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex flex-row flex-wrap align-items-center gap-3">

            @foreach (var room in Model.Rooms)
            {
                <div class="d-flex flex-column shadow border border-primary rounded-2 p-4">
                    <span class="h2 text-primary mb-2">@room.Name</span>
                    <span class="small text-muted mb-2">@room.Id</span>
                    <a asp-action="Index" asp-controller="Room" class="btn btn-secondary py-2 shadow mt-3" asp-route-buildingId="@Model.Id" asp-route-roomId="@room.Id">Detail</a>
                </div>
            }
        </div>
    </div>
</div>